{name, "emysql"}.
{authors, ["Bill Warnecke <bill@rupture.com>","Jacob Vorreuter <jacob.vorreuter@gmail.com>","Henning Diedrich <hd2010@eonblast.com>","Eonblast Corporation <http://www.eonblast.com>"]}.
{description, "Erlang MySQL driver"}.
{homepage, "http://eonblast.github.com/Emysql/"}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/Eonblast/Emysql.git", {branch, "master"}}}.
{applications, [emysql]}.
{build_command, "make"}.
